body, html {
    height: 100%;
}


body {
	background-color: #337ab7;
	  /*background-image: url("./connectedhands.jpeg"); */
	   height: 100%; 
	   width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
h1 {
	text-align: center;
	color: red;
}

h3 {
	background-color: black;
	color: white;
}

.eventCode{
	color: #337ab7;
}
